<?xml version='1.0' standalone='yes'?>
<!--
	Copyright (C) 2005, 2025 Chris Burdess

  This file is part of gumdrop.

  gumdrop is free software; you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  gumdrop is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with gumdrop; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
-->
<web-app version='4.0' xmlns='http://xmlns.jcp.org/xml/ns/javaee'>

  <display-name>Manager</display-name>
  <description>Servlet context administration facility</description>

  <servlet>
    <servlet-name>Manager</servlet-name>
    <servlet-class>org.bluezoo.gumdrop.servlet.manager.ManagerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>manager</welcome-file>
  </welcome-file-list>

  <!-- Security configuration -->
  
  <!-- Protect all URLs in this webapp -->
  <security-constraint>
    <display-name>Manager Security Constraint</display-name>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Use HTTP Basic authentication -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Gumdrop Manager</realm-name>
  </login-config>

  <!-- Declare the manager role -->
  <security-role>
    <description>Users who can access the manager application</description>
    <role-name>manager</role-name>
  </security-role>

</web-app>
